[defaults]
host_key_checking = False
forks = 20
timeout = 30
log_path = /tmp/ansible.log

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root